*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #283e96, #cfe2ff);
  height: 100vh;
}

h1{ 
    font-size: 4.5rem;
    color: #f3f3f3;
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 20%;
}